<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<% if(! logueado) { %>
	<%- include('./partials/headerNotLogged')%>
	<% } else { %>
		<%- include('./partials/headerLogged')%>
		<% } %>
</head>
<body>
	<!-- Banner -->
	<div class="banner">
		<img src="images/banner.jpg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% nuevos.forEach(element => { %> 
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product/<%= element.id %>">
						<figure class="product-box_image">
							<img src="<%= element.imagen %>" alt="<%= element.nombre_producto %>" height="240px">
						</figure>
						<article class="product-box_data">
							<h2><%= element.nombre_producto.charAt(0).toUpperCase() + element.nombre_producto.slice(1) %></h2>
							<p><%= element.descripcion %></p>
							<p>Comentarios: </p>
						</article>
					</a>
				</section>
			</div>
			<% }) %>
		</div>
	</div>
	
	<!-- Mas antiguos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más antiguos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% viejos.forEach(element => { %> 
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/<%= element.id %>">
							<figure class="product-box_image">
								<img src="<%= element.imagen %>" alt="lapiz" height="240px">
							</figure>
							<article class="product-box_data">
								<h2><%= element.nombre_producto.charAt(0).toUpperCase() + element.nombre_producto.slice(1) %></h2>
								<p><%= element.descripcion %></p>
								<p>Comentarios: </p>
							</article>
						</a>
					</section>
				</div>
				<% }) %>
		</div>
	</div>
	<!-- /Más comentados -->


	<!-- footer -->
	<%- include('./partials/footer')%>
	<!-- /footer -->
</body>	
</html>