<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<% if(! logueado) { %>
		<%- include('./partials/headerNotLogged')%>
		<% } else { %>
			<%- include('./partials/headerLogged')%>
			<% } %></head>
<body>
	<!-- product detail -->
	  
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title" style="text-transform: capitalize;"> <%= lista.nombre_producto %></h2> 
			<!-- aca va el boton de editar -->
			<p class="product-detail-description">
				<a href="/productModify/<%= lista.id %>">Editar</a>
			</p>

			<form action="/borrar" method="POST">
				<input type="hidden" name="id" value="<%= lista.id %>">
				<input type="submit" value="Borrar">
			  </form>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= lista.imagen %>" alt="" class="product-detail-img">
					<p class="product-detail-fecha">Fecha de creacion: <%= lista.createdAt %></p>
					<p class="product-detail-fecha">Creado por: <%= lista.usuario.nombre_apellido %></p>
					<p class="product-detail-description">
						<%= lista.descripcion %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<%lista.comentarios.forEach(element => { %>						
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/profile/<%=element.usuario_id%>"> <%= element.usuario.usuario %> </a> </strong>
									<%= element.texto%> </p>
							</div> 
						</article>
					<% })%>

					</section>
					<form class="form" action="/comentar" method="POST" id="form"> <!-- METHOD POST-->
						<input class="form-input" name="text" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button" id="add-comment">AGREGAR COMENTARIO</button>
					</form>
					<div class="thank-u">
						<p id="demo"></p>
					</div>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer')%>
	<!-- /footer -->
	<script src="/javascripts/buttons.js"></script>
</body>	
</html>