<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<% if(! logueado) { %>
		<%- include('./partials/headerNotLogged')%>
		<% } else { %>
			<%- include('./partials/headerLogged')%>
			<% } %></head>
<body>
	<!-- product detail -->
	  
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title" style="text-transform: capitalize;"> <%= lista.nombre_producto %></h2> 
			<!-- aca va el boton de editar -->
		

			<% if (logueado && usuarioId == lista.usuario.id)  { %>
				<p class="product-detail-description">
					<a href="/product/modify/<%= lista.id %>">Editar</a>
				</p>
			<% } %>

			<% if (logueado && usuarioId == lista.usuario.id)  { %>
				<form action="/borrar" method="POST">
					<input type="hidden" name="id" value="<%= lista.id %>">
					<input type="submit" value="Borrar">
				  </form>
			<% } %>
			
			
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/ <%= lista.imagen %>" alt="" class="product-detail-img">
					<p class="product-detail-fecha">Fecha de creacion: <%= lista.createdAt %></p>
					<p class="product-detail-fecha">Creado por: <a href="/profile/<%= lista.usuario.id %>"> <%= lista.usuario.nombre_apellido %></a></p>
					<p class="product-detail-description">
						<%= lista.descripcion %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<%lista.comentarios.forEach(element => { %>						
						<article>
							<% if (element.usuario.foto_perfil == "" || element.usuario.foto_perfil == null) { %> 
								<img src="/images/users/gatito.jpg" alt="">
							<% } else { %> 
								<img src="../images/users/<%= element.usuario.foto_perfil %>" alt="">
							<% }%>
							<div class="data">
								<p class="user">
								<input type="hidden" name="userId" value="<%= lista.usuario_id %>">
								<strong> <a href="/profile/<%=element.usuario_id%>"> <%= element.usuario.usuario %> </a> </strong>
									<%= element.texto%> </p>
							</div> 
						</article>
					<% })%>

					</section>

					
					<form class="form" action="/comentar" method="POST" id="form"> <!-- METHOD POST-->
						<%if(logueado == true){ %>
						<input class="form-input" name="text" type="text" value="" placeholder="Agregar comentario">
						<input class="form-input" type="hidden" name="productId" value="<%=lista.id%>">
						<button type="submit" class="buy-now-button" id="add-comment">AGREGAR COMENTARIO</button>
					<%} else{ %>
						<button type="submit" class="buy-now-button">REGISTRATE!</button>
					<%}%> 
					</form>
					<div class="thank-u">
						<p id="demo"></p>
					</div>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer')%>
	<!-- /footer -->
</body>	
</html>