<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<% if(! logueado) { %>
	<%- include('./partials/headerNotLogged')%>
	<% } else { %>
		<%- include('./partials/headerLogged')%>
		<% } %>
</head>
<body>
	<section style="margin-left: 50px; padding: 30px 0px;">
	<h1>Todos los productos</h1>
	<p style="font-size: 15px;">WOW! Mira la cantidad de productos que tenemos para ofrecerte</p>
	</section>
	<!-- Novedades -->
	<!-- index copy -->
	<div class="todos-productos">
		<% lista.forEach(element => {%>
			<div class="col-12">
				<section class="product-box">
					<a href="/product/<%=element.id %>">
						<figure class="product-box_image">
							<% if(element.uploaded == "" || element.uploaded == null){ %>
								<img src="<%= element.imagen %>" alt="<%= element.nombre_producto %>" height="240px">
							<% } else { %>
								<img src="/images/products/<%= element.uploaded %>" alt="<%= element.nombre_producto %>" height="240px">
							<% } %>
						</figure>
						<article class="product-box_data">
							<h2><%=element.nombre_producto%></h2>
							<p><%=element.descripcion%></p>
							<p>Comentarios: 15</p>
						</article>
					</a>
				</section>
			</div>
		<% }) %>
	</div>
			
	<!-- footer -->
	<%- include('./partials/footer')%>
	<!-- /footer -->
</body>	
</html>